/*
	############################################################
	# ENPAGE OVERRIDE
	# @TODO Move into its own repository and publish the NPM. Then add as a dependency on ENgrid
	# @TODO Once in its own repository replace "HOLD-TODO" with "TODO" to trigger the todo'ist bot
	############################################################

	A mirror of "enPage.css" that was then edited to provide more responsive sizing (e.g removal of fixed widths) and to use ENgrid's theme colors (e.g. Error Red) and preferences (e.g. Border Radius)
	As a changes in this document are made, changes elsewhere (e.g. engrid-fields.scss) will become redundant and can be removed from their respective files.

	REF: enPage.css from any client domain
	The CSS file is then cleaned up on https://www.10bestdesign.com/dirtymarkup/css/ for comparison

	To test for colors, convert the SCSS to CSS https://jsonformatter.org/scss-to-css and then extract them here http://www.css-color-extractor.com/

	To convert Pixels to REMs: https://codepen.io/piccalilli/pen/Yrmxqw

	Modified CSS can be found be searching with regex for the following, just remove the quotes "^	(?!(\/))"

	Unified Color Palette
	#0000FF - Blue
	#0070BA - Lake Blue
	#32325D - Ocean Blue
	#33CC33 - Green
	#FCAC00 - Orange
	--error__color - Red
	--color_white - White
	#DFDFDF - Off White
	#BFBFBF - Light Gray
	#9F9F9F - Gray
	#808080 - Dark Gray
	#404040 - Off Black
	--color_black - Black
*/


.en-noselect,
.en__ticket__minus,
.en__ticket__plus {
  user-select: none;
}


.en__component--column {
  min-width: initial; // 300px - Set to no min-width
}




@media only screen and (max-width: 600px),
  only screen and (max-device-width: 600px) {

}

.en__component--hubgadget {
  box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.33);
  border-radius: var(--input_border-radius); // 6px
  background: transparent; // var(--color_white)
  margin: 0.75rem; // 12px
  border: 1px solid #bfbfbf;
  padding: 0.75rem; // 12px
}

.en__component--hubgadget--inactive {
  display: none;
}

.en__component--hubgadget img {
  display: block;
  margin: auto;
}

.en__component--hubgadget span {
  font-weight: 700;
  display: block;
  margin-top: 0.75rem; // 12px
}

.en__component--hubgadget > img {
  height: auto; // 56px
}

.en-noselect {
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.en__captcha,
.en__field {
  padding-bottom: 1.125rem; // 18px
}

.en__field__label {
  width: auto; // 180px;
}

.en__field__helpText {
  display: none;
  font-size: 85%; // .85em
}

.en__field__helpText,
.en__field__label {
  padding: 0; // 0.375rem 0
}

.en__field__label--positionabove + .en__field__helpText {
  display: block;
}


.en__field__input--calendar,
.en__field__input--email,
.en__field__input--number,
.en__field__input--other,
.en__field__input--password,
.en__field__input--select,
.en__field__input--splitselect,
.en__field__input--splittext,
.en__field__input--telephone,
.en__field__input--text,
.en__field__input--textarea,
.en__field__input--tripleselect,
.en__field__input--tripletext {
  padding: 1ch 1.2ch; // 6px
  
}

.en__field__input--calendar,
.en__field__input--email,
.en__field__input--number,
.en__field__input--password,
.en__field__input--range,
.en__field__input--telephone,
.en__field__input--text,
.en__field__input--textarea,
.en__rangeFieldLabels {
  width: 100%; // 250px - Set to 100% width
}

.en__field__input--select {
  min-width: initial; // 250px - Set to no min-width
}

.en__field__input--other {
  width: initial; // 100px - Set to no min-width
  margin: 0; // -1px 0 0 5px
}

.en__field__input--splittext,
.en__field__input--tripletext {
  width: initial; // 50px - Set to no min-width
}

.en__field__input--textarea {
  height: 15.625rem; // 100px - Set a larger default height for Text Areas
}

.en__field__item {
  padding: 0.375rem 0; // 6px 0
}



.en__field__input--radio {
  margin-top: initial; // -1px - This is likely unnecessary
}



.en__field__element--labelsleft .en__field__label--item {
  float: left; // left - @HOLD-TODO Help EN get away from using floats
  margin-right: 0.25rem; // 4px
}

.en__field__element--imgselect .en__field__item {
  padding-right: 0.5rem; // 12px
}

.en__imageSelectField {
  cursor: pointer;
}


.en__rangeFieldLabels__label {
  width: 30%; // @HOLD-TODO Investigate to see if there is a better way to do this
}

.en__pagination {
  padding: 0.375rem; // 6px
  text-align: center;
}

.en__field__element--rating .en__field__item {
  padding: 0.375rem; // 6px
}


.en__ratingField__image {
  cursor: pointer;
}


.en__submit button {
  cursor: pointer;
}

.en__button {
  background: #dfdfdf;
  padding: 0.75rem; // 12px
  border: 1px solid #bfbfbf;
  cursor: pointer;
}

.en__button--disabled,
.en__button[disabled] {
  opacity: 0.3;
}

.en__button--active {
  background: #bfbfbf;
}


.en__button--ajax--inprogress {
  background-size: 1.875rem 1.875rem; // 30px 30px - @HOLD-TODO
}

.en__button--ajax--done {
  background-size: 1.875rem 1.875rem; // 30px 30px - @HOLD-TODO
}

.en__orderSummary {
 
  padding: 0.4375rem; // 7px
}



.en__orderSummary__data,
.en__orderSummary__header {
  padding: 0.4375rem; // 7px
}


.en__ticketBlock {
  border: 1px solid #bfbfbf;
}

.en__tickets {
  padding: 0 0.875rem; // 0 14px;
}


.en__ticket__field {
  border-bottom: 1px solid #bfbfbf;
  
}

.en__additional__amount,
.en__additional__label,
.en__ticketSummary__checkout,
.en__ticket__field {
  padding: 0.875rem; // 14px
}


.en__additional__amount,
.en__additional__label,
.en__ticket__currency,
.en__ticket__name,
.en__ticket__price {
  font-size: 1.5em;
  font-weight: 700;
}


.en__ticket__field--quantity {
  width: 13rem; // 13em - @HOLD-TODO Investigate to see if there is a better way to do this
}

.en__additional__amount,
.en__ticket__field--cost {
  width: 10rem; // - 10em @HOLD-TODO Investigate to see if there is a better way to do this
}

.en__additional__amount,
.en__ticket__field--cost,
.en__ticket__field--quantity,
.en__ticket__quantity,
.en__ticket__remaining {
  text-align: center;
}

.en__ticket__selector {
  display: inline-block;
}

.en__ticket__quantity {
  width: 3rem; // @HOLD-TODO Investigate to see if there is a better way to do this
  line-height: 2.5rem; // 2.5em
  font-size: 1.5rem; // 1.5em
  
  border: 1px solid #bfbfbf;
  border-radius: var(--input_border-radius); // 3px
  // padding: 0
}

.en__ticket__quantity--invalid {
  border: 1px solid var(--error__color);
}

.en__ticket__minus,
.en__ticket__plus {
  height: 2.5em; // @HOLD-TODO Investigate to see if there is a better way to do this
  width: 2.5em; // @HOLD-TODO Investigate to see if there is a better way to do this
  border: 1px solid #bfbfbf;
  border-radius: var(--input_border-radius); // 3px
}

.en__ticket__plus {
  margin-left: 0.3125rem; // 5px - @HOLD-TODO Investigate, this seems unnecessary
}

.en__ticket__minus {
  margin-right: 0.3125rem; // 5px - @HOLD-TODO Investigate, this seems unnecessary
}

.en__ticket__soldout,
.en__ticket__waitList {
  padding: 0.5rem 2rem; // .5em 2em
  border-radius: var(--input_border-radius); // 3px
  color: var(--color_white);
  font-size: 1rem; // 1em
}

.en__ticket__soldout {
  background-color: #808080;
}

.en__ticket__waitList {
  background-color: #0070ba;
}

.en__additional__amount,
.en__additional__label {
  padding: 0; // 10px
}

.en__additional__input {
  padding: 0.6rem 0; // .6em 0;
  width: 4rem; // 4em;
  margin-right: 0; // 12px
  border: var(--input_border-width) solid var(--input_border-color); //1px solid #bfbfbf
  border-radius: var(--input_border-radius); // 3px
}

.en__additional__promo {
  text-align: center;
}

.en__additional__code {
  text-align: center;
  width: 8rem; // 8em;
  padding: 0.6rem 0; // .6em 0;
  border: var(--input_border-width) solid var(--input_border-color); //1px solid #bfbfbf
  border-radius: var(--input_border-radius); // 3px
}

.en__ticketRecurring,
.en__ticketSummary {
  border-top: 1px solid #bfbfbf;
  display: flex;
  justify-content: flex-end;
}

.en__ticketRecurring__select,
.en__ticketSummary__checkout {
  font-size: 1.5rem; // 1.5em;
  background-color: var(--error__color);
  padding: 0.875rem 1.75rem; // 14px 28px
  width: 11rem; // 11em;
}

.en__eventOccurrencesDateSelector__clear,
.en__occurrenceSummary__change {
  text-decoration: underline;
  color: #0070ba;
  cursor: pointer;
}

.en__ticketBlock--recurring .en__ticketSummary {
  display: none;
}

.en__ticketBlock--recurring .en__ticketRecurring,
.en__ticketBlock--recurring.en__ticketBlock--recurring--selected
  .en__occurrenceSummary,
.en__ticketBlock--recurring.en__ticketBlock--recurring--selected
  .en__ticketSummary {
  display: flex;
}

.en__ticketBlock--recurring.en__ticketBlock--recurring--selected
  .en__ticketRecurring,
.en__ticketRecurring {
  display: none;
}

.en__occurrenceSummary {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: end;
  padding: 0 0.875rem; // 0 17px;
}

.en__occurrenceSummary__description {
  font-size: 1rem; // 1em
  font-weight: 700;
}

.en__eventOccurrences {
  padding: 0.875rem 0; // 14px 0;
  display: none;
}

.en__eventOccurrences.en__eventOccurrences--selecting {
  display: block;
}

.en__eventOccurrences__title {
  padding-bottom: 0.875rem; // 14px;
}

.en__eventOccurrences__header {
  display: flex;
  justify-content: space-between;
  padding-bottom: 0.875rem; // 14px;
}

.en__eventOccurrencesDateSelector {
  display: flex;
  align-items: center;
}

.en__eventOccurrencesDateSelector:not(.en__eventOccurrencesDateSelector--selected)
  .en__eventOccurrencesDateSelector__clear {
  display: none;
}

.en__eventOccurrencesDateSelector__label {
  padding-left: 1.875rem; // 30px
  margin-right: 0.375rem; // 6px
  display: block;
  line-height: 1.5rem; // 24px
  height: 1.5rem; // 24px
}

.en__eventOccurrencesDateSelector__clear {
  margin-left: 0.0625rem; // 6px
}

.en__eventOccurrence {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.875rem; // 14px;
  background-color: #dfdfdf;
  border-radius: 0.375rem; // 6px
  margin-bottom: 0.875rem; // 14px;
}

.en__eventOccurrence--filtered,
.en__eventOccurrence--paginated--after,
.en__eventOccurrence--paginated--before,
.en__eventOccurrence__radio {
  display: none;
}

.en__eventOccurrence__description {
  font-size: 1.5em;
  font-weight: 700;
}

.en__eventOccurrence__select {
  text-transform: uppercase;
  font-size: 1.3rem; // 1.3em
  background-color: var(--error__color);
  padding: 0;
  color: var(--color_white);
  cursor: pointer;
  border: 0;
  font-family: inherit;
}

.en__eventOccurrence__select > label {
  display: block;
  padding: 0; // 7px 14px;
  cursor: pointer;
}

.en__eventOccurrencesPagination {
  display: flex;
  justify-content: center;
  align-items: center;
}

.en__eventOccurrencesPagination--disabled {
  display: none;
}

.en__eventOccurrencesPagination__display {
  margin: 0 1rem; // 0 16px
}

.en__eventOccurrencesPagination__control {
  height: 1rem; // 16px
  width: 1rem; // 16px
  background-repeat: no-repeat;
  background-position: center center;
  cursor: pointer;
}

.en__eventOccurrencesPagination--end
  .en__eventOccurrencesPagination__control--forward,
.en__eventOccurrencesPagination--start
  .en__eventOccurrencesPagination__control--back {
  opacity: 0.3;
  cursor: default;
}

.en__eventOccurrences__empty {
  display: none;
  text-align: center;
}

.en__eventOccurrences--empty .en__eventOccurrences__empty {
  display: block;
}

.en__eventOccurrences--empty .en__eventOccurrencesPagination {
  display: none;
}

.en__lightbox {
  background: rgba(0, 0, 0, 0.8);
  z-index: 99999;
}

.en__lightbox__box {
  top: 20vh; // 20% - @HOLD-TODO Investigate to see if there is a better way to do this
  width: 35vw; // 35em - @HOLD-TODO Investigate to see if there is a better way to do this
}

.en__lightbox__header {
  padding: 1rem; // 1em
  border-top-left-radius: var(--input_border-radius); // 3px
  border-top-right-radius: var(--input_border-radius); // 3px
}

.en__lightbox__title {
  font-size: 1.5rem; // 1.5em
}

.en__lightbox__close {
  right: 1rem; // 1em
  font-size: 1rem; // 1em
  vertical-align: center; // @HOLD-TODO Let EN know of this typo, they want "center" not "ce"
  height: 2em;
}

.en__lightbox__body {
  background-color: var(--color_white);
  border-bottom-left-radius: var(--input_border-radius); // 3px
  border-bottom-right-radius: var(--input_border-radius); // 3px
  padding: 1.5rem; // 1.5em
}


.en__waitlist__text {
  margin-bottom: 1.5rem; // 1.5em
}

.en__waitlist__label {
  width: 12em;
}

.en__waitlist__field {
  margin-bottom: 0.5rem; // .5em
}

.en__waitlist__input {
  padding: 0.6rem; // .6em
  border: 1px solid #bfbfbf;
  border-radius: var(--input_border-radius); // 3px
  width: 18rem; // 18em - @HOLD-TODO Investigate to see if there is a better way to do this
  font-size: 1rem; // 1em
}

.en__waitlist__input--quantity {
  width: 5rem; // 5em
}

.en__waitlist__actions {
  margin-top: 1rem; // 1em
}

.en__lightbox__action {
  background-color: var(--error__color);
  padding: 0.2rem 1rem; // .2em 1em;
  border-radius: var(--input_border-radius); // 3px
  font-size: 1.5rem; // 1.5em
}

.en__lightbox__action--close,
.en__lightbox__action--submit {
  background-color: var(--error__color);
}

.en__lightbox__action--cancel {
  background-color: #9f9f9f;
  margin-right: 1rem; // 1em
}


.en__registrants {
  padding: 0 0.875rem; // 0 14px
}

.en__registrants__ticketHead {
  font-size: 1.5rem; // 1.5em
  padding-bottom: 0.875rem; // 14px
}


.en__registrants__registrant {
  padding: 0 0.875rem; // 0 14px
}

.en__registrants__registrantHead {
  font-size: 1.3rem; // 1.3em
}

.en__registrants__registrantDetails {
  padding: 0.875rem 0; // 14px 0
}

.en__registrants__registrantField {
  margin-bottom: 0.4375rem; // 7px
}

.en__registrants__registrantLabel {
  // display: inline-block;
  min-width: initial; // 14rm - Set to no min-width @HOLD-TODO this is such a strange default size
  margin-bottom: 0.4375rem; // 7px;
  margin-right: 0.4375rem; // 7px
}

.en__registrants__registrantInput {
  padding: 0.6rem; // .6em
  border: 1px solid #bfbfbf;
  border-radius: var(--input_border-radius); // 3px
}

.en__share {
  margin-right: 0px; // 18px
}

.en__share--facebook.en__share--small {
  margin-top: 1px;
}

.en__share--gplus.en__share--small {
  margin-top: 0.125rem; // 2px
}

.en__share__button {
  height: 3.125rem; // 50px
  width: auto; // 50px - Set the width to Auto and allow them to resize as needed
}


.en__share__button--small.en__share__button--twitter {
  width: auto; // 65px - Set the height to Auto and allow it to resize as needed
}


.en__socialShare {
  padding: 0.375rem; // 6px
}

.en__component--contactblock {
  background-color: #dfdfdf;
  padding: 0.625rem; // 10px
}

.en__contact {
  margin-bottom: 0.625rem; // 10px
}


.en__contact__detail {
  background-color: var(--color_white);
  padding: 0.625rem; // 10px
}

.en__contact__image {
  margin-right: 0.625rem; // 10px
  width: 3.75rem; // 60px;
  height: 3.75rem; // 60px
}


.en__contactMessage,
.en__contactSubject {
  margin-top: 0.625rem; // padding-top: 10px
}

.en__contactMessage__htmlDisplay {
  background: var(--color_white);
}

.en__contactMessage__plainText {
  padding: 0.375rem; // 6px
  height: 200px;
}

.en__contactDetails__select {
  margin: 0.625rem; // 10px
}

.en__contactDetails__rows {
  margin-right: 2.1875rem; // 35px
}

.en__contactDetails__row--1 {
  font-size: 1.1rem; // 1.1em
}

.en__contact__toggle {
  cursor: pointer;
  width: 3.75rem; // 60px;
  height: 0.9375rem; // 15px
  margin: 0 auto;
  border-bottom-left-radius: var(--input_border-radius); // 5px
  border-bottom-right-radius: var(--input_border-radius); // 5px
}

.en__singleMessage {
  background: var(--color_white);
  padding: 0; // 0 10px 10px
}

.en__singleMessage .en__contactSubject {
  padding-top: 0.625rem; // 10px
}

.en__contactDetails__background {
  width: 2.8125rem; // 45px
  height: 2.8125rem; // 45px
}


.en__contactBackground {
  padding: 1.25rem; // 20px
  border-top: 1px solid #dfdfdf;
  margin-top: 0.625rem; // 10px
}


.en__contact--showBackground .en__contactDetails {
  min-height: 2.1875rem; // 35px
}

.en__contact__actions {
  text-align: right;
}

.en__contact__actions .en__button:not(:last-child) {
  margin-right: 0.625rem; // 10px
}


.en__contactBackground__text {
  margin-top: 0.3125rem; // 5px
}


.en__contactBackground__cycle {
  width: 1.5625rem; // 25px
  height: 1rem; // 16px
  margin-top: 0; // -8px - @HOLD-TODO There has to be a beter way to do this
}


.en__contactSection__content--uneditable,
.en__contactSection__label {
  padding-top: 0.625rem; // 10px
}

.en__tweetContact {
  padding: 0.625rem; // 10px
  width: auto; // 400px @HOLD-TODO - Should we set width: 100% and max-width 25rem (400px)?
  margin-bottom: 0.625rem; // 10px
}

.en__tweet,
.en__tweetBackgroundText,
.en__tweetButton,
.en__tweetDisabled,
.en__twitterTarget {
  background-color: var(--color_white);
  padding: 0.625rem; // 10px
}

.en__twitterTarget__select {
  margin: 0; // 0 10px 0 0
}

.en__contacts--singleTweetMode .en__twitterTarget__select {
  flex: 1 0 auto; // Needed to collapse the checkbox area
  height: var(
    --checkbox_height
  ); // Matches the pseudo element that adds the checkbox
  display: grid;
  margin: 0;
}


.en__twitterTarget p {
  line-height: 1.3rem; // 1.3em
}

.en__twitterTarget__image {
  height: 3.75rem; // 60px
  width: 3.75rem; // 60px
  margin-right: 0.625rem; // 10px
}

.en__twitterTarget__image:before {
  content: " "; // Changed from single quote to double quotes so it work with http://www.css-color-extractor.com/
  height: 3.75rem; // 60px
  width: 3.75rem; // 60px
}

.en__tweet textarea {
  border: 1px solid #bfbfbf;
  padding: 0.625rem; // 10px
  width: 100%; // @HOLD-TODO - Is this neccisary?
  height: 7.8125rem; // 100px - Set a larger default height for Text Areas
}

.en__tweetButton {
  text-align: right;
}

.en__tweetButton a {
  font-size: 1.5rem; // 1.5em;
  padding: 0.3125rem 0.625rem; // 5px 10px;
}

.en__tweetButton__send,
.en__tweetButton__sent {
  background-color: var(--error__color);
  border-radius: var(--button_border-radius); // 5px
}


.en__tweetButton__sent {
  background-color: #33cc33;
}


.en__tweetContact .en__tweetBackgroundToggle {
  width: 2.8125rem; // 45px
  height: 2.8125rem; // 45px
  margin: 0.625rem 0.625rem 0 0; // 10px 10px 0 0
}

.en__tweetBackgroundText pre {
  padding-top: 0.625rem; // 10px
  border-top: 1px solid #dfdfdf;
}


.en__component.en__component--ecardblock {
  max-width: 55rem; // 880px
}


.en__component--ecardblock h2 {
  margin: 1.25rem 0 0.625rem; // 20px 0 10px
}


.en__ecarditems__thumb {
  margin: 0 1.25rem 1.25rem 0; // 0 20px 20px 0;
  width: 12.5rem; // 200px - @HOLD-TODO Investigate, there has to be a better way to do this
  height: 12.5rem; // 200px - @HOLD-TODO Investigate, there has to be a better way to do this
}

.en__ecarditems__thumb img {
  border: 1px solid var(--error__color);
  opacity: 0.5;
  width: 12.5rem; // 200px - @HOLD-TODO Investigate, there has to be a better way to do this
  height: 12.5rem; // 200px - @HOLD-TODO Investigate, there has to be a better way to do this
}

.en__ecarditems__thumb.thumb--active img {
  opacity: 1 !important; // @HOLD-TODO Investigate, there has to be a better way to do this
}

.en__ecarditems__thumb:not(.thumb--active) img {
  border-color: transparent !important; // @HOLD-TODO Investigate, there has to be a better way to do this
}

.en__ecarditems__thumb:hover img {
  box-shadow: 1px 1px 5px 3px #bfbfbf;
  border-color: default !important; // @HOLD-TODO Investigate, there has to be a better way to do this
}

.en__ecarditems__button {
  font-size: 1rem; // 16px
  color: var(--color_white);
  background: var(--error__color);
  padding: 0.3125rem 0.625rem; // 5px 10px;
  border-radius: var(--button_border-radius); // 4px
}

.en__ecarditems__addrecipient {
  width: 2rem; // 32px - @HOLD-TODO Investigate, there has to be a better way to do this than set a fixed width
  height: 2rem; // 32px - @HOLD-TODO Investigate, there has to be a better way to do this than set a fixed height
}

.en__ecardmessage__default {
  min-height: 15.625rem; // 200px - Set a larger default height for Text Areas @HOLD-TODO, is this actually a text area?
  border: 1px solid #bfbfbf;
  padding: 0.625rem; // 10px
}

.en__ecarditems__preview.preview--show,
.en__ecardrecipients__futureDelivery label {
  display: block;
}

.en__ecardrecipients__email,
.en__ecardrecipients__name {
  width: 50%; // @HOLD-TODO Investigate, there has to be a better way to do this
}

.en__ecardrecipients__email label,
.en__ecardrecipients__name label {
  margin: 0 0.625rem 0 0; // 10px
}

.en__ecardrecipients__email input,
.en__ecardrecipients__name input {
  padding: 0.375rem 0.625rem; // 6px 10px
  margin: 0 2rem 0 0; // 0 32px 0 0
  width: 57%; // @HOLD-TODO Investigate, there has to be a better way to do this
}

.en__ecardrecipients__email input.invalid,
.en__ecardrecipients__name input.invalid {
  border: 1px solid var(--error__color);
}

.en__ecardrecipients__list {
  min-height: 15.625rem; // 200px - @HOLD-TODO Investigate, there has to be a better way to do this
  border: 1px solid #bfbfbf;
  padding: 0.625rem; // 10px
  margin: 1.25rem 0 0; // 20px 0 0
  background: var(--color_white);
}

.en__ecardrecipients__futureDelivery {
  margin: 1.25rem 0 0; // 20px 0 0
}

.en__ecardrecipients__recipient {
  padding: 0.3125rem 0; // 5px 0
}

.en__ecardrecipients__recipient .ecardrecipient__email,
.en__ecardrecipients__recipient .ecardrecipient__name {
  width: 47.5%; // @HOLD-TODO Investigate, there has to be a better way to do this
}

.en__ecardrecipients__recipient .ecardrecipient__remove {
  width: 5%; // @HOLD-TODO Investigate, there has to be a better way to do this
}


.en__ecarditems__preview {
  z-index: 999;
}

.en__ecarditems__prevbg {
  background: rgba(0, 0, 0, 0.5);
}

.en__ecarditems__prevwrap {
  left: 50%;
  top: 50%;
  width: 37.5rem; // 600px; @HOLD-TODO There has to be a better way to do this than a fixed width
  height: 80vh; // 800px; - @HOLD-TODO There has to be a better way to do this than a fixed height
  z-index: 9;
}


.en__ecarditems__prevwrap iframe {
  background: var(--color_white);
}

.en__ecarditems__prevclose {
  z-index: 9999;
  line-height: 1.5625rem; // 25px - @HOLD-TODO
  width: 1.5625rem; // 25px - @HOLD-TODO There has to be a better way to do this than a fixed width
  font-family: Arial, sans-serif; // @HOLD-TODO Investigate, there has to be a better way to do this
  color: var(--color_black);
}

.en__hubOverlay,
.en__overlay {
  position: fixed;
  z-index: 2147483647;
}

.ecard__mandatory__error {
  border: 1px solid var(--error__color);
}

.en__hubOverlay {
  background: rgba(0, 0, 0, 0.25);
  padding: 1.5rem; // 24px
}

.en__hubOverlay__popup {
  border-radius: var(--input_border-radius); // 6px
  box-shadow: 0 0 6px 3px rgba(0, 0, 0, 0.2);
}

.en__hubOverlay__loading {
  opacity: 0.8;
}

.en__hubOverlay--supporterdetails .en__hubOverlay__popup,
.en__hubOverlay--supportersubscriptions .en__hubOverlay__popup {
  max-width: 37.5rem; // 600px - @HOLD-TODO Investigate, there has to be a better way to do this
}

.en__hubOverlay--pledge .en__hubOverlay__popup {
  max-width: 68.75rem; // 1100px - @HOLD-TODO Investigate, there has to be a better way to do this
}

.en__hubOverlay--pledgeRoi .en__hubOverlay__popup {
  max-width: 37.5rem; // 600px @HOLD-TODO Investigate, there has to be a better way to do this
}

.en__hubOverlay--membership > .en__hubOverlay__popup {
  max-width: 50rem; // 800px - @HOLD-TODO Investigate, there has to be a better way to do this
}

.en__hubOverlay--membershipHistory > .en__hubOverlay__popup {
  max-width: 37.5rem; // 600px @HOLD-TODO Investigate, there has to be a better way to do this
}

.en__hubOverlay--memCardUpdate > .en__hubOverlay__popup {
  max-width: 58.125rem; // 930px - @HOLD-TODO Investigate, there has to be a better way to do this
}

.en__hubOverlay--membershipRenew > .en__hubOverlay__popup,
.en__hubOverlay--txngiving > .en__hubOverlay__popup {
  max-width: 37.5rem; // 600px - @HOLD-TODO Investigate, there has to be a better way to do this
}

.en__hubOverlay__header {
  background: #dfdfdf;
  border-bottom: solid 1px #bfbfbf;
  border-radius: var(--input_border-radius) var(--input_border-radius) 0 0; // 6px 6px 0 0;
  min-height: 2rem; // 32px - @HOLD-TODO Investigate, there has to be a better way to do this
}

.en__hubOverlay__header h2 {
  padding: 0.5625rem 2rem 0.375rem 1.5rem; // 9px 32px 6px 24px;
  font-size: 0.875rem; // 14px
  color: #404040;
}

.en__hubOverlay__header a {
  width: 2rem; // 32px - @HOLD-TODO There has to be a better way to do this than a fixed width
  text-indent: -500vw; // -999px - @HOLD-TODO Investigate, there has to be a better way to do this
}

.en__hubOverlay__content {
  background: var(--color_white);
  border-radius: 0 0 var(--input_border-radius) var(--input_border-radius); // 0 0 6px 6px;
  padding: 1.5rem; // 24px
}

.en__supporterHubLogin {
  width: min(
    100%,
    26.25rem
  ); // 420px - @HOLD-TODO There has to be a better way to do this than a fixed width
  border: 1px solid #bfbfbf;
  border-radius: var(--input_border-radius); // 6px
}

.en__supporterHubLogin__header {
  background: #dfdfdf;
  border-bottom: 1px solid #bfbfbf;
  padding: 0.75rem; // 12px
}

.en__supporterHubLogin__body {
  padding: 1.5rem; // 24px
  background: var(--color_white);
}

.en__supporterHubLogin__body .en__field__label {
  margin-right: 0.625rem; // 10px
}

.en__hubgadget__response {
  margin: 0.625rem 0; // 10px 0
  padding: 0 0.625rem; // 0 10px
}

.en__hubgadget__response--success {
  border: 1px dashed #33cc33;
}

.en__hubgadget__response--failure {
  border: 1px dashed var(--error__color);
}

.en__hubgadget__response--warn {
  border: 1px dashed #fcac00;
}


.en__myImpact__hubCopy {
  background: #dfdfdf;
  padding: 0 0.75rem; // 0 12px;
  margin-top: 0.375rem; // 6px
}

.en__myImpact__hubCopyEmpty {
  background: #dfdfdf;
  margin-top: 0.375rem; // 6px
  
  border-radius: var(--input_border-radius); // 3px
  padding: 0.75rem; // 12px
}

.en__myImpact__hubCopy span {
  border-radius: var(--input_border-radius); // 3px
  padding: 0.75rem 0; // 12px 0
}

.en__hubCopy__action {
  background: #9f9f9f;
  color: var(--color_white);
  float: right; // @HOLD-TODO Help EN get away from using floats
  padding: 0.5rem 0.75rem; // 8px 12px;
  border-radius: var(--input_border-radius); // 5px
  font-size: 1.25rem; // 20px
  margin: 0 0 1.5rem; // 0 0 24px
}


.en__hubOverlay__impact .en__hubOverlay__header h2 {
  font-size: 1.25rem; // 20px
  color: #0070ba;
}

.en__hubOverlay__impact .en__hubOverlay__content > div {
  padding: 0 0 0 11.25rem; // 0 0 0 160px
}


.en__p2phub__sites {
  margin: 0 0 1.5rem; // 0 0 24px
}

.en__p2phub__site {
  font-size: 0.9375rem; // 15px;
  background: #dfdfdf;
  padding: 0 0.75rem; // 0 12px;
  margin-top: 0.375rem; // 6px
}

.en__p2phub__site a {
  color: var(
    --color_black
  ) !important; // @HOLD-TODO Investigate, there has to be a better way to do this
  border-radius: var(--input_border-radius); // 3px
  padding: 0.75rem 0; // 12px 0
}

@media (max-width: 768px) {
  .en__hubOverlay__impact .en__hubOverlay__content > div {
    background: 0 0;
    padding: 0;
  }
}

.en__hubPledge__icon {
  margin-right: 1.5rem; // 24px
}

@media (max-width: 768px) {
}



.en__hubPledge__validationFail .en__field__element {
  border: 1px solid var(--error__color);
}

.en__pg,
.en__pgHeader {
  border-bottom: 1px solid #bfbfbf;
}

.en__hubUpdateCC__toggle {
  width: 1.5rem; // 25px - @HOLD-TODO There has to be a better way to do this than a fixed width
  margin-bottom: 1.125rem; // 18px
  margin-left: 1.5rem; // 25px
}


.en__hubPledge__roi__list ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

.en__hubPledge__roi__list li {
  border: 1px solid #bfbfbf;
  font-size: 0.85rem; // .85em
  margin: 6px 0;
  padding: 6px;
}

.en__hubPledge__roi__list li:hover {
  background: #dfdfdf;
  cursor: pointer;
}

.en__hubPledge__roi__actions {
  display: flex;
  justify-content: space-between;
}

.en__hubPledge__roi--list .en__hubPledge__roi__actions {
  padding-top: 0.75rem; // 12px
  display: block;
  text-align: right;
}

.en__hubPledge__roi--update .en__hubPledge__roi__amount {
  padding-bottom: 0.75rem; // 12px
}

.en__hubPledge__roi--update .en__hubPledge__roi__add {
  padding: 0.75rem; // 12px
  text-align: center;
}

.en__hubPledge__roi--update .en__hubPledge__roi__list label {
  display: flex;
  align-items: center;
}

.en__hubPledge__roi--update .en__hubPledge__roi__list input {
  margin: 0 0.75rem; // 0 12px
}

.en__hubPledge__roi--confirmation .en__hubPledge__roi__next {
  margin: 1rem 0;
}


.en__hubMembership__viewMemberships p {
  color: #9f9f9f;
  font-size: 0.8rem; // .8em
}

.en__hubMembership__membership {
  margin: 0.75rem 0; // 12px 0
  border: 1px solid #bfbfbf;
}

.en__hubMembership__membership__summary {
  max-height: 6.25rem; // 100px - @HOLD-TODO Investigate, there has to be a better way to do this than setting a max-height
}

.en__hubMembership__membership__full {
  padding: 0 0.75rem; // 0 12px
}

.en__hubMembership__membership__summary__name {
  padding: 0.5625rem 0.75rem; // 9px 12px
}

.en__hubMembership__membership__summary__status {
  padding: 0.5625rem 0.75rem; // 9px 12px
  width: 5rem; // 80px - @HOLD-TODO Investigate, there has to be a better way to do this than setting a fixed width
}

.en__hubMembership__membership__summary__date {
  padding: 0.5625rem 0.75rem; // 9px 12px
  width: 7.5rem; // 120px - @HOLD-TODO Investigate, there has to be a better way to do this than setting a fixed width
}

.en__hubMembership__membership__summary__edit {
  width: 3rem; // 48px - @HOLD-TODO Investigate, there has to be a better way to do this than setting a fixed width
}

.open .en__hubMembership__membership__full {
  max-height: 62.5rem; // 1000px - @HOLD-TODO Investigate, there has to be a better way to do this than setting a fixed max-height
}

.en__hubMembership__membership__header {
  padding: 0.5625rem 0; // 9px 0;
}

.en__hubMembership__membership__details {
  padding: 0.75rem 0; // 12px 0
  margin: 0; // 0 -6px - Remove negative margins
}

.en__hubMembership__membership__details > div {
  min-width: initial; // 300px - Set to no min-width
}

.en__hubMembership__membership__detail__label {
  width: 11.25rem; // 180px - @HOLD-TODO Investigate, there has to be a better way to do this than setting a fixed width
  padding: 0.375rem; // 6px
}

.en__hubMembership__membership__detail__value {
  padding: 0.375rem; // 6px
}

.en__hubMembership__recurring {
  padding: 0.5625rem 0; // 9px 0
}

.en__hubMemCardUpdate__form--left {
  margin-right: 0.625rem; // 10px
}

.en__hubMembership__card {
  background: #dfdfdf;
  padding: 0.75rem; // 12px
  width: 20rem; // 320px; - @HOLD-TODO Investigate, there has to be a better way to do this than setting a fixed width
  font-size: 0.85rem; // .85em
}


.en__hubMembership__card dt {
  
  padding: 0.375rem 0.75rem; // 6px 12px
}

.en__hubMembership__card dd {
  padding: 0.375rem 0.75rem; // 6px 12px
}

.en__hubMembership__card__update {
  width: 1.5rem; // 24px
  height: 1.5rem; // 24px
  text-indent: -500vw; // -9F9F9Fpx; - @HOLD-TODO Investigate, there has to be a better way to do this
  top: 0.75rem; // 12px
  right: 0.75rem; // 12px
}

.en__hubTxnGiving__header {
  margin-bottom: 1.5rem; // 24px
}


.en__hubTxnGiving__transactions__list li {
  border: 1px solid #bfbfbf;
  font-size: 0.85rem; // .85em
  margin: 0.375rem 0; // 6px 0
  padding: 0.375rem; // 6px
}

.en__hubTxnGiving__transactions__date {
  width: 33%; // @HOLD-TODO Investigate, there has to be a better way to do this
  padding-right: 0.75rem; // 12px
}


.en__component--premiumgiftblock {
  border: 1px solid #bfbfbf;
  border-radius: var(--input_border-radius); // 6px
  margin-bottom: 0.75rem; // 12px
}

.en__pgHeader {
  border-top-left-radius: var(--input_border-radius); // 6px
  border-top-right-radius: var(--input_border-radius); // 6px
  background-color: #dfdfdf;
  padding: 0.75rem 1.125rem; // 12px 18px
}

.en__pg__body,
.en__pg__detail,
.en__pg__display,
.en__pg__select {
  padding: 0.75rem; // 12px
}


.en__pg--selected .en__pg__image--selected {
  outline: #0070ba solid 3px;
}

.en__pg__imageSelector {
  margin-top: 0.375rem; // 6px
}


.en__pg__imageSelector label {
  width: 0.75rem; // 12px
  font-weight: 400; // 12px - @HOLD-TODO Let EN know that they want "font-weight" or "font-size" and not "weight". Not sure which one given the value was 12px and not 700 like all other font-weights
}

.en__pg__imageSelector input:checked + .en__pg__imageRadio {
  background-color: #bfbfbf;
  border-color: #bfbfbf;
}

.en__pg__imageRadio {
  height: 0.375rem; // 6px
  width: 0.375rem; // 6px
  border-radius: 0.375rem; // 6px - @HOLD-TODO would 50% or 100% work?
  border: 1px solid #9f9f9f;
}


.en__pg__optionType {
  margin: 0.75rem 0.75rem 0 0; // 12px 12px 0 0
}

.en__pg__optionType label {
  margin-right: 0.375rem; // 6px
}

.en__memtypelist__item {
  border: 1px solid #bfbfbf;
  margin-bottom: 0.75rem; // 12px
}


.en__memselector__item {
  border: 1px solid #bfbfbf;
  margin: 0.375rem; // 6px
}


.en__memselector__radio {
  margin: 0 0 0 0.75rem; // 0 0 0 12px
}

.en__memselector__label {
  padding: 0.75rem; // 12px
}


.en__memimage {
  max-width: 18.75rem; // 300px - @HOLD-TODO Investigate, there has to be a better way to do this
  padding: 0.75rem; // 12px
}

.en__memtype__details {
  padding: 0.75rem; // 12px
  min-width: initial; // 350px - Set to no min-width
}


.en__hubOverlay--memtyperenew .en__hubOverlay__popup {
  max-width: 37.5rem; // 600px @HOLD-TODO Investigate, there has to be a better way to do this
}


.en__memtyperenew__message {
  border-width: 1px;
  padding: 0 0.625rem; // 0 10px;
}

.en__memtyperenew__orText {
  background-color: var(--color_white);
  padding: 0.625rem; // 10px
}


.en__member {
  border: 1px solid #bfbfbf;
  margin-bottom: 0.625rem; // 10px
  background-color: var(--color_white);
}

.en__member__row {
  padding: 0 1.25rem 0 3.25rem; // 0 20px 0 52px;
  min-height: 3.25rem; // 52px
}

.en__member__toggle {
  width: 1rem; // 16px
  height: 1rem; // 16px
}

.en__member__openButton {
  background-color: var(--color_white);
  border: 1px solid #bfbfbf;
  border-radius: var(--button_border-radius); // 5px
  height: 3rem; // 3em
  padding: 0 0.625rem; // 0 10px;
  width: 10rem; // 160px @HOLD-TODO - There has to be a better way to do this than setting a fixed width
}

.en__member--validationFailed .en__member__openButton {
  border: 1px solid var(--error__color);
}

.en__member__details {
  padding: 0.625rem; // 10px
}

.en__member--closed .en__member__row {
  background-color: #bfbfbf;
  opacity: 0.3;
}


.en__overlay {
  background: rgba(0, 0, 0, 0.25);
  padding: 1.5rem; // 24px
}

.en__overlay__popup {
  border-radius: var(--button_border-radius); // 6px
  box-shadow: 0 0 6px 3px rgba(0, 0, 0, 0.2);
  max-width: 50rem; // 800px- @HOLD-TODO Investigate, there has to be a better way to do this
}

.en__overlay__loading {
  opacity: 0.8;
  border-radius: 0.0625rem; // 6px
}

.en__overlay__message {
  padding: 0.75rem; // 12px
}

.en__overlay__message--success {
  border: 1px dashed #33cc33;
}

.en__overlay__message--error {
  border: 1px dashed var(--error__color);
}

.en__overlay__message--warn {
  border: 1px dashed #fcac00;
}

.en__overlay__header {
  background: #dfdfdf;
  border-bottom: solid 1px #bfbfbf;
  border-radius: var(--input_border-radius) var(--input_border-radius) 0 0; // 6px 6px 0 0;
  min-height: 2rem; // 32px
}

.en__overlay__header h2 {
  padding: 0.5626rem 2rem 0.375rem 1.5rem; // 9px 32px 6px 24px
  font-size: 0.875rem; // 14px
  color: #404040;
}

.en__overlay__header a {
  width: 2rem; // 32px;
  text-indent: -500vw; // -999px - @HOLD-TODO Investigate, there has to be a better way to do this
}

.en__overlay__content {
  background: var(--color_white);
  border-radius: 0 0 var(--input_border-radius) var(--input_border-radius); // 0 0 6px 6px;
}

.en__component--callcontactblock .en__contacts {
  padding: 0.625rem; // 10px
}


.en__component--callcontactblock .en__contact__description {
  margin-bottom: 0.625rem; // 10px
}

.en__c2c__step {
  margin: 1.5rem; // 24px
}

.en__c2c__actions {
  margin-top: 1.5rem; // 24px
}

.en__contact--call__fullQueue {
  margin-top: 0.625rem; // 10px
}


.en__c2c__survey__rate {
  max-width: 18.75rem; // 300px
  margin: 0.75rem 0; // 12px 0
}

.en__c2c__survey__rate .en__button {
  opacity: 0.5;
}

.en__c2c__survey__rate .en__button.active {
  opacity: 1;
}

.en__component--svblock--numbered .en__field > .en__field__label:before {
  content: counter(surveyFieldNumbering) ". "; // @HOLD-TODO - Changed from single quote to double quotes so it work with http://www.css-color-extractor.com/
}

.en__stripeButtons__preview {
  max-width: 46.875rem; // 750px - @HOLD-TODO Investigate, there has to be a better way to do this
  border-radius: var(--button_border-radius); // 5px
}

.en__stripeButtons__preview .en__stripeButtons__previewWrap {
  height: 1.375rem; // 22px - @HOLD-TODO Investigate, there has to be a better way to do this
  top: 50%; // @HOLD-TODO Investigate, there has to be a better way to do this
}

.en__stripeButtons__preview .en__stripeButtons__previewText {
  color: var(--color_white);
  font: 500 1rem/1.3125rem -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, sans-serif; // font: 500 16px/21px -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, sans-serif; - @HOLD-TODO Investigate, there has to be a better way to do this
  top: -0.6875rem; // -11px - @HOLD-TODO Investigate, there has to be a better way to do this
}

.en__stripeButtons__preview.light .en__stripeButtons__previewText,
.en__stripeButtons__preview.light-outline .en__stripeButtons__previewText {
  color: #32325d;
}

.en__stripeButtons__preview .en__stripeButtons__previewIcon {
  width: 1.375rem; // 22px - @HOLD-TODO
  height: 1.375rem; // 22px - @HOLD-TODO
  margin: 0 0 0 0.3125rem; // 0 0 0 5px;
  top: -0.6875rem; // -11px - @HOLD-TODO Investigate, there has to be a better way to do this
}

.en__stripeButtons__preview.light {
  background: var(--color_white);
}

.en__stripeButtons__preview.light-outline {
  background: var(--color_white);
  border: 1px solid #bfbfbf;
}

.en__paypalTouch__preview {
  max-width: 46.875rem; // 750px - @HOLD-TODO Investigate, there has to be a better way to do this
  background: #fcac00;
  border-radius: var(--button_border-radius); // 5px
}


.en__paypalTouch__preview .en__paypalTouch__previewIcon {
  width: 1rem; // 16px - @HOLD-TODO Investigate, there has to be a better way to do this
  background-size: 0.8125rem; // 13px - @HOLD-TODO Investigate, there has to be a better way to do this
}

.en__paypalTouch__preview .en__paypalTouch__previewIcon2 {
  width: 3.75rem; // 60px - @HOLD-TODO Investigate, there has to be a better way to do this
  background-size: 3.75rem; // 60px - @HOLD-TODO Investigate, there has to be a better way to do this
}

.en__paypalTouch__preview.blue {
  background: #0070ba;
}

.en__paypalTouch__preview.blue .en__paypalTouch__previewIcon {
  background-size: 0.8125rem; // 13px - @HOLD-TODO Investigate, there has to be a better way to do this
}

.en__paypalTouch__preview.blue .en__paypalTouch__previewIcon2 {
  background-size: 3.75rem; // 60px - @HOLD-TODO Investigate, there has to be a better way to do this
}

.en__paypalTouch__preview.white {
  background: var(--color_white);
  border: 1px solid #808080;
}

.en__paypalTouch__preview.black {
  background: #404040;
}

.en__paypalTouch__preview.black .en__paypalTouch__previewIcon {
  background-size: 0.8125rem; // 13px - @HOLD-TODO Investigate, there has to be a better way to do this
}

.en__paypalTouch__preview.black .en__paypalTouch__previewIcon2 {
  background-size: 3.75rem; // 60px - @HOLD-TODO Investigate, there has to be a better way to do this
}

#en__digitalWallet .en__digitalWallet__button {
  position: relative;
}

#en__digitalWallet .en__digitalWallet__container {
  max-width: 46.875rem; // 750px - @HOLD-TODO Investigate, there has to be a better way to do this
  max-height: 3.4375rem; // 55px - @HOLD-TODO Investigate, there has to be a better way to do this
}
